
<div fxLayout="row" fxLayoutAlign="center center" class="make-space-above">
  <form
        (keydown.enter)="$event.preventDefault()"
        [formGroup]="userForm"
        (ngSubmit)="onSaveUser()"
        fxLayout="column"
				fxLayoutAlign="start stretch"
        fxFlex="60%"
        fxFlex.lt-md="100%"
  >
      <mat-card fxLayout="column">

      
              <!-- FirstName and LastName start  -->
              <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
        
                <mat-form-field fxFlex="48%" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput required name="FirstName" formControlName="FirstName"/>
                  <mat-icon matSuffix>mode_edit</mat-icon>
                  <mat-error *ngIf="userForm.controls.FirstName.errors?.required && userForm.controls.FirstName.touched">This field is required</mat-error>
                  <mat-error *ngIf="userForm.controls.FirstName.errors?.minlength && userForm.controls.FirstName.touched">Name is too short</mat-error>
                  <mat-error *ngIf="userForm.controls.FirstName.errors?.maxlength && userForm.controls.FirstName.touched">Name is too long</mat-error>
                </mat-form-field>
        
                <mat-form-field fxFlex="48%" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput required name="LastName" formControlName="LastName"/>
                  <mat-icon matSuffix>mode_edit</mat-icon>
                  <mat-error *ngIf="userForm.controls.LastName.errors?.required && userForm.controls.LastName.touched">This field is required</mat-error>
                  <mat-error *ngIf="userForm.controls.LastName.errors?.minlength && userForm.controls.LastName.touched">Name is too short</mat-error>
                  <mat-error *ngIf="userForm.controls.LastName.errors?.maxlength && userForm.controls.LastName.touched">Name is too long</mat-error>
                </mat-form-field>
              </div>
              <!-- FirstName and LastName end  -->

              <!-- Email Field Start  -->
              <div fxFlex="100">
                <mat-form-field fxFlex="100%" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput name="Email" formControlName="Email" type="email" required/>
                  <mat-icon matSuffix>mail_outline</mat-icon>
                  <mat-error *ngIf="userForm.controls.Email.errors?.required && userForm.controls.Email.touched">This field is required</mat-error>
                  <mat-error *ngIf="userForm.controls.Email.errors?.email && userForm.controls.Email.touched">Invalid email</mat-error>
                </mat-form-field>
              </div>
              <!-- Email Field End  -->

              <!-- Gender And Date Of Birth Start -->

              <div fxFlex="100" fxLayoutAlign="row wrap" fxLayoutAlign="space-between center" >


                <mat-form-field fxFlex="48%" appearance="outline" >
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="Sex">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                  </mat-select>
                  <mat-error *ngIf="userForm.controls.Sex.errors?.required && userForm.controls.Sex.touched">This field is required</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="48%" appearance="fill" >
                  <mat-label>Date Of Birth</mat-label>
                  <input matInput formControlName="DateOfBirth" [matDatepicker]="datePicker" [min]="maxDate" [max]="minDate">
                  <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #datePicker disabled="false"></mat-datepicker>
                  <mat-error *ngIf="userForm.controls.DateOfBirth.errors?.required && userForm.controls.DateOfBirth.touched">This field is required</mat-error>
                  <mat-error *ngIf="userForm.controls.DateOfBirth.errors?.matDatepickerMin && userForm.controls.DateOfBirth.touched">Date of birth cannot be before 100 years</mat-error>
                  <mat-error *ngIf="userForm.controls.DateOfBirth.errors?.matDatepickerMax && userForm.controls.DateOfBirth.touched">Date of birth cannot be in the future</mat-error>
                </mat-form-field>

              </div>

              <!-- Gender And Date Of Birth End -->


              <!-- City And Phone Number Start  -->
              <div fxFlex="100" fxLayoutAlign="row wrap" fxLayoutAlign="space-between center">
                <mat-form-field fxFlex="48%" appearance="outline" >
                  <mat-label>City</mat-label>
                  <input matInput type="text" formControlName="City" [matAutocomplete]="auto">
                  <mat-icon matSuffix>mode_edit</mat-icon>

                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field fxFlex="48%" appearance="fill">
                  <mat-label>Phone Number</mat-label>
                  <span matPrefix>+88 &nbsp;</span>
                  <input type="tel" matInput placeholder="Phone number" (keypress)="numericOnly($event)" formControlName="PhoneNumber"/>
                  <mat-icon matSuffix>mode_edit</mat-icon>
                  <mat-error *ngIf="userForm.controls.PhoneNumber.errors?.required && userForm.controls.PhoneNumber.touched">This field is required</mat-error>
                  <mat-error *ngIf="userForm.controls.PhoneNumber.errors?.minlength && userForm.controls.PhoneNumber.touched">Phone must be at least 11 digits long.</mat-error> 
                </mat-form-field>


              </div>
              <!-- City And Phone Number End  -->
        
              <div fxFlex="50%" fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="25px">
                  <!-- <div fxFlex="20%">
                    <button type="button" mat-raised-button>Cancel</button>
                  </div>
                  <div fxFlex="20%">
                    <button type="button" mat-raised-button>Cancel</button>
                  </div> -->
                  <button type="button" mat-raised-button routerLink="/users">Cancel</button>
                  <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid">Save</button>
              </div>
      
      </mat-card>
</form>
</div>



