/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
  margin: 0 50px;
}

.make-space-above{
  margin-top: 100px;
}


// filter controls 

.search-form-field{
  width: 50%;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-form-field div.mat-form-field-underline{
  display: none;
}

.search-form-field div.mat-form-field-infix{
  border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper{
  padding-bottom: 0px;
  height: 32px;
}

.search-form-field div.mat-form-field-suffix button{
  height: 32px;
  width: 32px;
}

.search-form-field div.mat-form-field-prefix button{
  margin-right: 5px;
}

.search-icon{
  transform: scale(1.5);
}